body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p{
  margin: 0;
}

ul {
  margin: 0;
}

table,
th,
td {
  border: 1px solid;
}

th,
td {
  padding: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
